{% extends "base.html" %}

{% block title %}
VOTING IS EVERYONES'S RIGHT
{% endblock %}
{% block content %}
<article>
    <header>
        <h1>Voting Fraud Platform</h1>
    </header>
    <section >
    </section>
  
    <footer>
        <h4>Terms and conditions</h4>
        <p>The company is not responsible for any malpractice happening during election</p>
    </footer>
</article>

<aside>
    <h3>Project done by</h3>
    <ul>
        <li>Rohit R H</li>
        <li>Prajwal M S</li>
        <li>Sharath S V</li>
        <li>Prajwal R</li>
    </ul>    
</aside>
{% endblock %}
