{% extends "base.html" %} {% block title %} VOTING IS EVERYONES'S RIGHT {% endblock %} {% block content %}

<table border="5">
    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Address </th>
        <th> Mobile number </th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %} 
            <tr>
                <td>{{row[3]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}